@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\000031}}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000320}}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000313}}
.row::after {
  clear: both;
  display: block;
  content: '';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col1 {
  width: 8.3333333333%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col2 {
  width: 16.6666666667%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col3 {
  width: 25%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col4 {
  width: 33.3333333333%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col5 {
  width: 41.6666666667%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col6 {
  width: 50%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col7 {
  width: 58.3333333333%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col8 {
  width: 66.6666666667%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col9 {
  width: 75%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col10 {
  width: 83.3333333333%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col11 {
  width: 91.6666666667%;
  float: left;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000330}}
.col12 {
  width: 100%;
  float: left;
  padding: 10px;
}

@media screen and (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM1 {
    width: 8.3333333333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM2 {
    width: 16.6666666667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM3 {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM4 {
    width: 33.3333333333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM5 {
    width: 41.6666666667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM6 {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM7 {
    width: 58.3333333333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM8 {
    width: 66.6666666667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM9 {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM10 {
    width: 83.3333333333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM11 {
    width: 91.6666666667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000338}}
  .colM12 {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL1 {
    width: 8.3333333333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL2 {
    width: 16.6666666667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL3 {
    width: 25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL4 {
    width: 33.3333333333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL5 {
    width: 41.6666666667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL6 {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL7 {
    width: 58.3333333333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL8 {
    width: 66.6666666667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL9 {
    width: 75%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL10 {
    width: 83.3333333333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL11 {
    width: 91.6666666667%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000346}}
  .colL12 {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000349}}
  .containerL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_nav\.scss}line{font-family:\000031}}
nav {
  color: grey;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_nav\.scss}line{font-family:\000033}}
nav ul {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_nav\.scss}line{font-family:\000035}}
nav ul li {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_nav\.scss}line{font-family:\0000312}}
.navBar {
  padding: 10px;
  background-color: rgba(149, 165, 166, 0.5);
  color: #ecf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_nav\.scss}line{font-family:\0000326}}
.listItem {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_nav\.scss}line{font-family:\0000333}}
  .navBar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_nav\.scss}line{font-family:\0000341}}
  .navList {
    display: block !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_nav\.scss}line{font-family:\0000345}}
  .listItem {
    float: left;
    padding: 10px;
    top: 0;
    left: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_nav\.scss}line{font-family:\0000352}}
  .navList::after {
    clear: both;
    content: '';
    display: block;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000312}}
.containerFull {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000318}}
.homeImg {
  background-image: url("../images/homeImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000329}}
.homeImgSize {
  width: 100%;
  height: 100vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000334}}
body {
  background-color: #222222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000338}}
.overflow {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/_grid\.scss}line{font-family:\0000313}}
.overflow::after {
  clear: both;
  display: block;
  content: '';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000343}}
.flexArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000349}}
.downArrow {
  color: #ecf0f1;
  font-size: 4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000355}}
.mainHeading {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: normal;
  color: #ecf0f1;
  padding: 15px 12px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000364}}
.pText {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  text-align: left;
  font-weight: normal;
  color: #ecf0f1;
  padding: 5px 22px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000373}}
.subHeading {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  color: #ecf0f1;
  padding: 10px 22px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000382}}
.plusButton {
  color: #ecf0f1;
  font-size: 30px;
  padding: 0px 22px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000388}}
.plusButtonFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000394}}
.weeklyEventBox {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\0000398}}
.floatLeft {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\00003102}}
.floatRight {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\00003106}}
.boysInBarImg {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\00003110}}
.eventImgs {
  height: 270px;
  width: 350px;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\00003116}}
.eventInfo {
  display: none;
}

@media screen and (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\00003123}}
  .eventInfo {
    display: block !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\00003126}}
  .eventImgs {
    display: block !important;
    width: 320px;
    height: 320px;
    float: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\00003133}}
  .plusButton {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\00003144}}
  .borderBox {
    border: 1px solid #ecf0f1;
    margin-bottom: 10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zoe\/Desktop\/Yoobee2020\/termOne\/establishmentSite\/sass\/style\.scss}line{font-family:\00003149}}
  .boysInBarImg {
    display: block !important;
  }
}

/*# sourceMappingURL=style.css.map */